{
	"trailingComma": "es5",
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/pages/(.*)$",
		"^@/store/(.*)$",
		"^@/components/(.*)$",
		"^@/hooks/(.*)$",
		"^@/UI/(.*)$",
		"^@/assets/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
