.wrapper {
    position: relative;
    background-color: rgb(70, 23, 143);
    overflow: hidden;
    width: 100%;
    height: 100vh;
    max-height: 100%;


    .circle {
        pointer-events: none;
        position: fixed;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        opacity: 0.1;
        min-width: 75vmin;
        min-height: 75vmin;
        bottom: -15vmin;
        right: -15vmin;
    }

    .square {
        position: fixed;
        pointer-events: none;
        transform: rotate(45deg);
        background-color: rgb(0, 0, 0);
        opacity: 0.1;
        min-width: 75vmin;
        min-height: 75vmin;
        top: -15vmin;
        left: -15vmin;
    }

    .enterBlockWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 93vh;

        .enterBlock {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .title {
        background: url(https://assets-cdn.kahoot.it/controller/v2/assets/icn_kahoot_logo.58b66a21.svg) no-repeat center bottom;
        width: 150px;
        height: 50px;
        margin-bottom: 20px;
    }

    .form {
        background-color: white;
        padding: 16px;
        border-radius: 4px;
        box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px;
        z-index: 10;

        .common {
            max-height: 48px;
            max-width: 200px;
            min-width: 10px;
            border-radius: 4px;
            outline: none;
            text-align: center;
            color: white;
            cursor: pointer;
        }

        input {
            min-height: 28px;
            color: rgb(51, 51, 51);
            border: 1.5px solid rgb(204, 204, 204);
            outline: none;
            margin-bottom: 6px;
        }

        button {
            background-color: rgb(51, 51, 51);
            min-height: 33px;
            width: 100%;
            box-shadow: rgb(0 0 0 / 25%) 0px -4px inset;
            border: none;
        }
    }
}