.input {
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 10px;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}

.errorMessage {
  color: red;
  position: absolute;
}

.invalid {
  border: 1px solid red;
}

.showPassword,
.hidePassword {
  position: absolute;
  right: 4%;
  top: 30%;
  cursor: pointer;
}
