.previewBox {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	// flex-direction: column;
	align-items: center;
	justify-content: center;
}

.previewContentBox {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 30px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: start;
	background: white;

	@media (min-width: 576px) {
		width: auto;
		height: 87%;
		max-height: 718px;
		justify-content: flex-start;
	}

	& h3 {
		color: #504e44;
		margin: 0 auto 15px;
	}

	& p {
		display: flex;
		-webkit-box-align: start;
		align-items: start;
		margin: 0px 0px 0.25rem;
		line-height: 1.5rem;
		font-size: 0.875rem;
		font-weight: 700;
		letter-spacing: 0.2px;
		text-align: start;
	}

	& input {
		height: 50px;
		font-size: 20px;
		padding: 10px 25px 10px 10px;
		margin-bottom: 15px;
		width: 100%;
	}

	& span {
		margin-bottom: 15px;
	}

	& img {
		width: 200px;
		height: 200px;
		margin: 0 auto;
		border: 1px solid black;
		padding: 10px;
	}

	.customFileInput {
		color: transparent;
		min-height: 42px;
		width: 200px;
		padding: 10px 0;
		cursor: pointer;
	}

	.customFileInput::-webkit-file-upload-button {
		visibility: hidden;
	}

	.customFileInput::before {
		content: 'Select image';
		color: black;
		display: inline-block;
		background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
		border: 1px solid #999;
		border-radius: 3px;
		padding: 5px 8px;
		outline: none;
		white-space: nowrap;
		-webkit-user-select: none;
		cursor: pointer;
		text-shadow: 1px 1px #fff;
		font-weight: 700;
		font-size: 10pt;
	}

	.customFileInput:hover::before {
		border-color: black;
	}

	.customFileInput:active {
		outline: 0;
	}

	.customFileInput:active::before {
		background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
	}

	.previewDescInp {
		min-height: 150px;
		text-align: start;
		display: flex;
		align-items: start;
		justify-content: start;
		font-size: 20px;
		padding: 10px;
		margin-bottom: 15px;
	}

	& button {
		width: 250px;
		margin: 0 auto;
		border: 0px;
		cursor: pointer;
		display: inline-block;
		vertical-align: bottom;
		box-shadow: rgb(0 0 0 / 25%) 0px -4px inset;
		background: rgb(19, 104, 206);
		color: rgb(255, 255, 255);
		border-radius: 4px;
		font-size: 0.875rem;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		min-width: 42px;
		min-height: 42px;
		padding: 0px 16px 4px;
		position: relative;
		font-family: Montserrat, 'Noto Sans Arabic', 'Helvetica Neue', Helvetica,
			Arial, sans-serif;
	}

	.previewTitleInp {
		position: relative;

		& .err_msg {
			position: absolute;
			bottom: -15px;
			left: 25px;
			color: red;
		}
	}

	.titleCount {
		position: absolute;
		bottom: 55px;
		right: 5px;
	}
}
