$font-family: "Inter", sans-serif;

.detailPage {
    padding: 100px 0;

    @media screen and (max-width: 768px) {
        padding: 40px 0;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }

        .questionsWrapper {
            width: 100%;
            height: 470px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
        }

        .pageBtn {
            cursor: pointer;
        }

        .testItem {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 408px;
            cursor: pointer;

            border-radius: 0.5rem;
            box-shadow: rgb(0 0 0 / 15%) 0 2px 4px 0;

            .poster {
                width: 100%;
                object-fit: cover;
            }

            .description {
                display: flex;
                align-items: start;
                flex-direction: column;
                justify-content: center;
                gap: 7px;
                position: relative;
                width: 100%;
                padding: 12px;

                .quantity {
                    position: absolute;
                    top: -25px;
                    right: 0;
                    padding: 0 12px;
                    margin: 0 12px;
                    border-radius: 0.25rem;
                    color: rgb(255, 255, 255);
                    backdrop-filter: blur(27px);
                    background-color: rgba(0, 0, 0, 0.4);
                }

                .title {
                    font-family: $font-family;
                }

                .subtitle {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    width: 100%;
                }

                .btn {
                    border: 0;
                    cursor: pointer;
                    box-shadow: rgb(0 0 0 / 25%) 0px -4px inset;
                    background-color: #0076af;
                    color: rgb(255, 255, 255);
                    border-radius: 4px;
                    min-width: 42px;
                    min-height: 42px;
                    padding: 0 16px 4px;
                    width: 100%;
                    margin-top: 16px;

                    &:hover {
                        background-color: rgb(18, 96, 190);
                        box-shadow: rgb(0 0 0 / 25%) 0px -2px inset;
                    }
                }
            }
        }

        .questions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 7px;
            padding: 12px;
            width: 100%;

            .item {
                display: flex;
                justify-content: space-between;
                width: 100%;
                border-radius: 0.25rem;
                background: rgb(255, 255, 255);
                padding: 7px;
                border: 1px solid rgb(242, 242, 242);

                .question {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    gap: 7px;
                }
            }
        }
    }
}

.paginationDetail {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 7px;

        @media screen and (max-width: 768px) {
            gap: 5px;
        }

        li {
            width: 42px;
            height: 42px;
            list-style: none;

            @media screen and (max-width: 768px) {
                width: 32px;
                height: 32px;
            }

            :hover {
                border: 2px solid #0076af;
                background-color: #0076af;
                border-radius: 5px;
                color: #fff;
                fill: #fff;
            }
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            border: 2px solid #cecece;
            border-radius: 5px;
            cursor: pointer;

            width: 100%;
            height: 100%;
            padding: 6px;
        }

        .active a {
            border: 2px solid #0076af;
            background-color: #0076af;
            border-radius: 5px;
            color: #fff;
        }

        .disabled a {
            border: 2px solid #f2f2f2;
            border-radius: 5px;
            fill: #f2f2f2;
        }

        .disabled:hover {
            fill: #f2f2f2;
        }
    }
}

.pagination ul .prev :hover {
    border: unset;
}

.pagination ul .next :hover {
    border: unset;
}
