.leaderboardsBox {
    padding: 60px 30px  ;
    background: lightgray;
    min-height: 90vh;
}

#leaderboards {
    font-size: 0;
    display: flex;
    gap: 10px;
}

#leaderboards > * {
    position: relative;
    font-size: 14px;
    display: inline-block;
}

#leaderboards .toplist {
    padding: 0;
    margin: 0;
    list-style: none;
}

#leaderboards .options {
    width: 28%;
}

#leaderboards .options .search {
    background: rgb(19, 104, 206);
    display: block;
    width: 100%;
    padding: 20px 20px 20px 53px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    position: relative;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px darkblue;
}

#leaderboards .options .search::placeholder {
    color: white;
}

#leaderboards .options .search + i:before {
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    font-style: normal;
    top: 17px;
    left: 20px;
    font-size: 18px;
    color: white;
}

#leaderboards .options .sort {
    padding: 20px;
    background: rgb(19, 104, 206);
    border-radius: 6px;
    cursor: default;
    box-shadow: 0 4px darkblue;
    position: sticky;
    top: 20px;
}

#leaderboards .options .sort h2 {
    text-align: center;
    margin: 10px 0 25px;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    font-size: 16px;
}

#leaderboards .options .sort .tabTitles > span {
    text-transform: uppercase;
    padding: 10px 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: inline-block;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    cursor: pointer;
    transition: .25s;
}

#leaderboards .options .sort .tabTitles > span:hover {
    color: rgba(255, 255, 255, 0.75);
}

#leaderboards .options .sort .tabTitles > .active {
    color: white !important;
    background: rgb(19, 104, 206);
    pointer-events: none;
    cursor: default;
    box-shadow: 0 5px #7A2271;
}

#leaderboards .options .sort .tabContents {
    background: rgb(30, 110, 220) ;
    padding: 20px;
    border-radius: 6px;
    list-style: none;
    position: relative;
    height: 105px;
}

#leaderboards .options .sort .tabContents .tab {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    visibility: hidden;
    transition: .25s;
}

#leaderboards .options .sort .tabContents .tab.active {
    opacity: 1;
    visibility: visible;
}

#leaderboards .options .sort .tabContents .tab > label {
    display: block;
    font-weight: bold;
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: .25s;
}

#leaderboards .options .sort .tabContents .tab > label:before {
    content: "\f10c";
    font-family: FontAwesome;
    font-weight: 100;
    margin-right: 17px;
}

#leaderboards .options .sort .tabContents .tab > input:checked + label {
    color: white;
}

#leaderboards .options .sort .tabContents .tab > input:checked + label:before {
    content: "\f111";
}

#leaderboards .options .sort .tabContents .tab > label:last-child {
    margin-bottom: 0;
}

#leaderboards .options .sort .tabContents .tab > input {
    display: none;
}

#leaderboards .options .search::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.35);
}

#leaderboards .toplist {
    width: 70%;
}

#leaderboards .toplist li {
    background: white;
    border-radius: 6px;
    margin-bottom: 14px;
    box-shadow: 0 4px #C2C2C2;
    position: relative;
    cursor: pointer;
}

#leaderboards .toplist li .thumb {
    padding: 20px 20px 19px;
    font-weight: bold;
    color: #221b35;
    font-size: 0;
    line-height: 36px;
    position: relative;
    display: flex;
    align-items: center;
}

#leaderboards .toplist li .thumb span {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}

#leaderboards .toplist li .thumb .name {
    display: flex;
    flex-direction: column;
}

#leaderboards .toplist li .thumb .img {
    width: 36px;
    height: 36px;
    display: inline-block;
    background: #eee no-repeat center;
    background-size: 100% 100%;
    border-radius: 6px;
    margin-right: 20px;
    font-size: 0;
}

#leaderboards .toplist li .thumb .stat {
    position: absolute;
    top: 50%;
    transform: translateY(-15%);
    right: 90px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    height: 100%;
}

#leaderboards .toplist li .thumb .stat b {
    display: block;
    font-size: 20px;
    margin: 0;
}

#leaderboards .toplist li:after {
    content: attr(data-rank);
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    background: #EAEAEA;
    width: 75px;
    //display: block;
    text-align: center;
    line-height: 75px;
    font-size: 16px;
    color: #666;
    font-weight: bold;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.05);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#leaderboards .toplist li[data-rank="1"]:after, #leaderboards .toplist li[data-rank="2"]:after, #leaderboards .toplist li[data-rank="3"]:after {
    content: "\f091";
    font-family: FontAwesome;
    font-size: 24px;
    font-weight: 100;
    line-height: 77px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

#leaderboards .toplist li[data-rank="1"]:after {
    color: #FFDF00;
}

#leaderboards .toplist li[data-rank="2"]:after {
    color: #9A9A9A;
}

#leaderboards .toplist li[data-rank="3"]:after {
    color: #CC913C;
}

.name {
    display: flex;
    flex-direction: column;
}