.wrapper {
    position: relative;
    background-color: rgb(70, 23, 143);
    overflow: hidden;
    width: 100%;
    max-height: 100%;

    .error {
        margin-top: 10px;
        color: white;
    }

    .circle {
        position: fixed;
        pointer-events: none;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        opacity: 0.1;
        min-width: 75vmin;
        min-height: 75vmin;
        bottom: -15vmin;
        right: -15vmin;
    }

    .square {
        position: fixed;
        pointer-events: none;
        transform: rotate(45deg);
        background-color: rgb(0, 0, 0);
        opacity: 0.1;
        min-width: 75vmin;
        min-height: 75vmin;
        top: -15vmin;
        left: -15vmin;
    }

    .enterBlockWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 67vh;

        .enterBlock {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .title {
        margin-bottom: 10px;

        img {
            height: 100px;
            width: 150px;
        }
    }

    .form {
        background-color: white;
        padding: 16px;
        border-radius: 4px;
        box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px;
        z-index: 10;
				font-size: 120%;

        .common {
            max-height: 48px;
            max-width: 200px;
            min-width: 10px;
            border-radius: 4px;
            outline: none;
            text-align: center;
            color: white;
            cursor: pointer;
            transition: all 0.5s ease;

            &:active {
                transform: scale(0.9);
            }
        }

        .input {
            max-height: 48px;
            max-width: 200px;
            min-width: 10px;
            border-radius: 4px;
            outline: none;
            text-align: center;
            color: black;
            // cursor:;
        }

        input {
            min-height: 40px;
            color: rgb(51, 51, 51);
            border: 1.5px solid rgb(204, 204, 204);
            outline: none;
            margin-bottom: 12px;
        }

        button {
            min-height: 40px;
            width: 100%;
            box-shadow: rgb(0 0 0 / 25%) 0px -4px inset;
            border: none;
            background-color: rgb(0, 125, 134);
        }
    }

    .extraInfo {
        color: white;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        padding-bottom: 2em;
				text-align: center;

        p {
            cursor: pointer;
        }

        p {
            margin: 0 0 10px 0;

            span {
                font-size: 22px;
                font-weight: bolder;
            }
        }
    }
}
